@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.eot');
    src: url('../fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.eot');
    src: url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.eot');
    src: url('../fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*,
body,
html{
    font-family: 'Poppins';
}

a{
    text-decoration: none;
}

a, h1, h2, h3, h4, h5, h6{
    color: #ffff;
    line-height: normal;
}

p{
    color: rgba(255, 255, 255, 0.5);
}

input, button{
    outline: none;
}

/*--------------wrapper styles---------*/

.body{
    background: url("../images/bg.jpg")no-repeat;
    background-size: cover;
    min-height: 100px;
}

/*--------------header styles---------*/

.container-content{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 14px;
}

.logo{
    max-width: 184px;
    width: 100%;
}

.logo img{
    width: 100%;
}

.menu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-menu{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 18px;
    font-weight: 300;
}

.item-menu{
    margin: 0 20px;
}

.link-menu:hover{
    opacity: 1;
    transition: .3s;
}

.chose-lg{
    padding: 11px 35px 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 18px;
}


.chose-lg:after{
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    background: url("../images/arrow.svg")no-repeat;
    width: 14px;
    height: 8px;
    background-size: cover;
    transition: .4s;
}

.chose-lg.turn-btn:after{
    top: 42%;
    transform: translateY(-50%);
    transition: .4s;
}

.languages-container{
    background: #3f405c;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    position: relative;
    margin-right: 20px;
}

.languages-list{
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding-top: 20px;
    background: #3f405c;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: none;
}

.item-language{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3f405c;
}

.item-language:last-child{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.item-language:hover,
.chose-lg:hover{
    background: #34354c;
    border-radius: 30px;
}

.item-language a{
    padding: 10px 13px;
    width: 44px;
    text-align: left;
    font-size: 18px;
}

.btn{
    width: 165px;
    color: #FFFFFF;
    border-radius: 30px;
    height: 45px;
    font-size: 18px;
}

.transparent-btn{
    background: transparent;
    border: 1px solid #5E2CED;
}
.transparent-btn:hover{
    background: rgba(94, 44, 237, 0.3);
    transition: .3s;
}

.header-btn-container{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu-container{
    width: 40%;
}

/*------------first screen-----------*/

.container-text-screen{
    max-width: 575px;
    width: 100%;
}

.main-title{
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 105%;
    margin-bottom: 27px;
}

.main-sub-text{
    line-height: normal;
    font-size: 16px;
    max-width: 457px;
    font-weight: 300;
    margin-bottom: 27px;
}

.tokens{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    -webkit-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    -moz-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    border: none;
    margin-right: 20px;
    animation: radial-pulse 1s infinite;
}

.btn.contract{
    border: none;
    background: #F1F4FF;
    color: #5E2CED;
}

.tokens:hover,
.contract:hover,
.btn-statistic:hover{
    opacity: 0.8;
    transition: .3s;
}

.footer-text-screen{
    display: flex;
    align-items: baseline;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
}

.footer-text-screen p{
    margin-left: 5px;
}

.container-first-screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    min-height: 500px;
}

.first-screen{
    padding-bottom: 123px;
    background: #2a2b4a;
}

/*----------------blue section--------*/

.blue-section{
    background: #6A3CEF;
    min-height: 61px;
}

.item-statistic{
    padding: 36px 0 44px;
}

.list-statistic{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.value-statistic{
    position: relative;
    text-align: center;
    width: 100%;
}

.value-statistic:after{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 82px;
    height: 1px;
    background: #FFFFFF;
    left: 50%;
    transform: translateX(-50%);
}

.item-statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 379px;
}

.value-statistic h3{
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
}

.text-statistic{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
}

.center-column{
    background: #5E2CED;
}

/*---------------discussed------------*/

.discussed{
    padding: 100px 85px;
}

.title-header{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-bottom: 18px;
}

.list-discussed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-discussed{
    max-width: 233px;
}

.item-discussed a{
    display: block;
}

/*-------------investments-----------*/

.investments{
    padding-bottom: 100px;
}

.container-sub-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-title-header{
    margin-right: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.container-sub-title span{
    color: #5E2CED;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}

.container-img-item{
    margin-bottom: 15px;
}

.list-investments{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-list-investments{
    margin-top: 37px;
}

.text-investments{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}

.item-investments{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
    position: relative;
}

.item-investments:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 84px;
    height: 1px;
    background: #5E2CED;
}

.container-img-item{
    min-height: 81px;
}

.header-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 30px 28px;
}

.title-block{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    padding-bottom: 15px;
    margin-top: 15px;
}

.title-block:after{
    content: '';
    position: absolute;
    width: 84px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #C95ED1;
    height: 1px;
}

.container-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.container-info p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.container-info span{
    color: #A84ED1;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.block-investments{
    background: #3F405D;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    margin: 0 15px;
}

.container-blocks-investments{
    margin-top: 95px;
    display: flex;
}

.title-footer-block{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
}

.content-statistic{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-statistic{
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.value{
    color: #A84ED1;
    font-weight: 300;
    font-size: 16px;
}

.container-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3F405D;
    border: 1px solid #A84ED1;
    border-radius: 30px;
    padding: 10px;
}

.input-info{
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    max-width: 175px;
    width: 100%;
}

.btn-input{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    border: none;
}

.btn-input:hover{
    opacity: 0.8;
}

.container-input{
    margin-top: 25px;
}

.btn-statistic{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    width: 100%;
    border: none;
    -webkit-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    -moz-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    margin-top: 25px;
    animation: radial-pulse 1s infinite;
}

.footer-block{
    background: rgba(7, 16, 59, 0.3);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 19px 28px 28px;
}


.content-statistic-withdraw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-statistic-withdraw .value{
    font-size: 20px;
}

.content-statistic-withdraw:first-child{
    margin-bottom: 20px;
}

.btn-transparent{
    width: 100%;
    background: transparent;
    border: 1px solid #a84ed1;
    color: #A84ED1;
    margin-top: 20px;
    height: 45px;
}

.btn-transparent:hover{
    background: rgba(168, 78, 209, 0.1);
    transition: .3s;
}

.body-block{
    padding: 0 28px 40px;
    position: relative;
    border-bottom: 4px solid #07103B4D;
}

.withdraw-header{
    margin-bottom: 0;
    padding-bottom: 35px;
}

.value.footer-value{
    font-size: 16px;
}

.footer-block-withdraw{
    padding: 24px 28px 40px;
}

/*------------------referral------------*/

.referral{
    padding: 95px 0 99px;
    background: #5E2CED;
}

.referral-header{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.referral-header:before,
.referral-header:after{
    content: '';
    position: absolute;
    height: 1px;
    display: inline-block;
    width: 50%;
    background-clip: content-box;
    background: rgba(255, 255, 255, 0.3);
    top: 25px;
}

.referral-header:before{
    left: 0;
    margin: 0 0 0 -19%;
}

.referral-header:after{
    right: 0;
    margin: 0 -19% 0 0;
    top: 25px;
}

.item-percent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-percent{
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    position: relative;
}

.title-percent:before{
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 50%;
    width: 84px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.5);
}

.text-percent{
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

.left-block{
    width: 47%;
}

.list-percent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-percent{
    padding: 25px 17px;
    min-width: 150px;
}

.referral-block-header{
    display: flex;
    align-items: center;
}

.referral-title,
.referral-block-header span{
    margin-right: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.referral-block-header span{
    margin-right: 0;
    color: #FFFFFF;
}

.text-referral{
    font-weight: 300;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    line-height: normal;
    margin-top: 13px;
    max-width: 495px;
    width: 100%;
}

.container-info-referral{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-block{
    background: #6A3CEF;
    border-radius: 5px;
    padding: 34px 20px 25px 20px;
    max-width: 530px;
    width: 100%;
}

.title-referral-footer{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    font-size: 22px;
}

.title-referral-footer:after{
    content: '';
    position: absolute;
    height: 1px;
    display: inline-block;
    width: 52%;
    background-clip: content-box;
    background: rgba(255, 255, 255, 0.3);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: 0;
}

.referral-footer{
    margin: 30px 0 10px;
}

.referral-input{
    background: #5a36ce;
    border: 1px solid #5a36ce;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
    width: 95%;
    margin: 20px 0 30px;
}

.copy-btn{
    width: 290px;
    height: 45px;
    color: #5E2CED;
    font-weight: 500;
    font-size: 16px;
    background: #FFFFFF;
    border: none;
    border-radius: 50px;
}

.copy-btn:hover{
    opacity: 0.8;
    transition: .3s;
}

/*-------------road map------------*/

.road-map{
    padding: 94px 0 90px;
}

.number-block span{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #5E2CED;
}

.number-block{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-map-block{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 17px;
}

.text-map-block{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #7E7E89;
    max-width: 270px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.map-block{
    max-width: 394px;
    width: 100%;
    position: relative;
    padding-bottom: 55px;
    padding-left: 55px;
}

.map-block:hover{
    cursor: pointer;
}

.first-block,
.three-block,
.fifth-block{
    padding-top: 55px;
}

.first-block:after,
.three-block:after,
.fifth-block:after{
    content: '';
    position: absolute;
    left: 0;
    top: -34px;
    width: 14px;
    height: 100%;
    background: url("../images/point-line.svg")no-repeat;
    transform: rotate(180deg);
    z-index: -2;
    background-size: 100% 100%;
}

.second-block:after,
.fourth-block:after{
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 14px;
    height: 100%;
    background: url("../images/point-line.svg")no-repeat;
    z-index: -2;
    background-size: 100% 100%;
}

.first-block:hover .number-block,
.second-block:hover .number-block,
.three-block:hover .number-block,
.fourth-block:hover .number-block,
.fifth-block:hover .number-block{
    width: 85px;
    height: 85px;
    transition: .3s;
}

.first-block:hover .number-block,
.three-block:hover .number-block,
.fifth-block:hover .number-block{
    top: -56px;
    left: -34px;
}

.second-block:hover .number-block,
.fourth-block:hover .number-block{
    bottom: -53px;
    left: -35px;
}

.first-block .number-block,
.second-block .number-block,
.three-block .number-block,
.fourth-block .number-block,
.fifth-block .number-block{
    position: absolute;
}

.first-block:hover .number-block:before,
.second-block:hover .number-block:before,
.three-block:hover .number-block:before,
.fourth-block:hover .number-block:before,
.fifth-block:hover .number-block:before{
    content: '';
    position: absolute;
    left: -7px;
    right: -7px;
    bottom: -7px;
    top: -7px;
    border-radius: 100%;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    z-index: -1;
    transition: .3s;
}


.first-block:hover .number-block span,
.second-block:hover .number-block span,
.three-block:hover .number-block span,
.fourth-block:hover .number-block span,
.fifth-block:hover .number-block span{
    font-size: 35px;
    transition: .3s;
}
.first-block .number-block,
.three-block .number-block,
.fifth-block .number-block{
    top: -40px;
    left: -18px;
}

.second-block .number-block,
.fourth-block .number-block{
    bottom: -40px;
    left: -18px;
}

.second-block{
    left: 55px;
}

.fourth-block{
    right: 0;
}

.container-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list-map{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.list-map:first-child{
    justify-content: center;
}

.mobile-block{
    display: none;
}

.special-map-line{
    height: 10px;
    background: #3E3F5B;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    width: 100%;
    border: none;
    z-index: -3;
}

/*--------------faq----------------*/

.faq{
    padding-bottom: 20px;
}

.container-faq{
    margin-top: 45px;
}

.list-faq{
    max-height: 330px;
    overflow-y: auto;
    padding-right: 6px;
}

.header-item-faq{
    background: #3F405D;
    border-radius: 50px;
    padding: 24px 31px 24px 37px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.item-faq{
    margin-bottom: 26px;
}

.active-block .header-item-faq{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
}

.chevron-faq-item{
    width: 22px;
    height: 12px;
    background: url("../images/arrow-pink.svg") no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    right: 31px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.title-faq-item{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
}

.chevron-faq-item.active-btn-faq{
    background: url("../images/arrow.svg") no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
    transition: .3s;
}

.container-info-faq{
    background: #3F405D;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 62px 37px 25px;
    position: relative;
    top: -30px;
    display: none;
}

.container-info-faq p{
    color: #7E7E89;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

/*-------------scrollbar-----------*/

::-webkit-scrollbar-button {
    background-image: none;
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color: rgba(7, 16, 59, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    opacity: 0.5;
}

::-webkit-resizer{
    background-image: none;
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar{
    width: 4px;
    border-radius: 5px;
}

/*--------------footer-------------*/

.smart-contract{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 50px;
    border: none;
    -webkit-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    -moz-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
    0% {
        box-shadow:  0 0 0 0px rgba(94, 44, 237, 0.5);
    }

    100% {
        box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    }
}

.smart-contract:hover{
    opacity: 0.8;
    transition: .3s;
}

.footer .logo{
    max-width: 184px;
    width: 100%;
    display: block;
}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info{
    color: rgba(126, 126, 137, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.footer{
    padding: 20px 0;
}

.btn-to-top{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 50px;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 70px;
    border: none;
    right: 10%;
    box-shadow: 0px 0px 3px 7px rgba(94,44,237,0.3);
    -webkit-box-shadow: 0px 0px 3px 7px rgba(94,44,237,0.3);
    -moz-box-shadow: 0px 0px 3px 7px rgba(94,44,237,0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(94,44,237,0.3);
    }
    70% {
        -webkit-box-shadow: 0px 0px 3px 7px rgba(94,44,237, 0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(94,44,237, 0);
    }
}

.btn-to-top:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url("../images/arrow.svg") no-repeat;
    background-position: center;
}

.btn-to-top.show {
    opacity: 1;
    visibility: visible;
}

.item-contacts{
    margin-bottom: 40px;
}

.item-contacts:last-child{
    margin-bottom: 0;
}

.link-contacts:hover{
    color: #A84ED1;
    transition: .3s;
}

.channel a,
.chat a,
.twitter a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    position: relative;
    width: 61px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.channel a:after,
.chat a:after,
.twitter a:after{
    content: '';
    position: absolute;
    background: url("../images/grey-telegram.svg")no-repeat;
    background-size: contain;
    width: 36px;
    height: 30px;
    top: 0;
    transition: .3s;
}

.channel a:hover:after,
.chat a:hover:after{
    content: '';
    position: absolute;
    background: url("../images/telegram.svg")no-repeat;
    background-size: contain;
    width: 36px;
    height: 30px;
    top: 0;
}

.twitter a:after{
    background: url("../images/twitter.svg")no-repeat;
    background-size: contain;
    width: 38px;
    height: 31px;
}

.twitter a:hover:after{
    background: url("../images/twitter-pink.svg")no-repeat;
    background-size: contain;
    width: 38px;
    height: 31px;
    transition: .3s;
}

.contacts-list{
    background: rgba(78, 78, 113, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 78px;
    padding: 21px 10px;
}

.container-contacts{
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 1000;
}

/*-------------page staking----------*/

.tabs-container {
    max-width: 100%;
    margin: 50px auto;
    padding: 25px;
}

.tabs {
    display: flex;
    margin-bottom: 28px;
}

.tabs li:not(:last-child) {
    margin-right: 25px;
}

.tabs li a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4px;
    border-radius: 50px;
    background: white;
    transition: all 0.1s ease-in-out;
    color: #5E2CED;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 225px;
    height: 45px;
    outline: none;
}

.tabs li.active a,
.tabs li a:hover {
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    color: #FFFFFF;
    outline: none;
    -webkit-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    -moz-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    animation: radial-pulse 1s infinite;
}

.tabs-content {
    position: relative;
    z-index: 2;
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: block;
}

/*-------------first-tab--------------*/

.create-liquidity{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    width: 156px;
    height: 36px;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
    -moz-box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
}

.title-tabs-block{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.header-block-tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tokens-block{
    background: #3F405D;
    padding: 30px 30px 44px;
    border-radius: 5px;
}

.icon-value{
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-value:after{
    content: '';
    position: absolute;
    width: 52px;
    height: 52px;
    background: url("../images/fit-pink.svg")no-repeat;
    background-size: contain;
    background-position: center;
}

.block-value{
    display: flex;
    align-items: center;
}

.value-token{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    margin-left: 12px;
}

.title-result{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.result-input{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 17px;
    text-align: center;
    background: #2A2B4B;
    border-radius: 30px;
}

.item-result{
    display: flex;
    align-items: center;
    max-width: 206px;
    width: 100%;
    justify-content: space-between;
    padding-right: 49px;
}

.list-result{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 37px;
}

.item-result:not(:last-child) {
    border-right: 1px solid #2A2B4B;
}

.item-result:not(:first-child) {
    padding-left: 49px;
}

.big-pink-btn{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    width: 255px;
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
    -moz-box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
}

.create-liquidity:hover,
.big-pink-btn:hover{
    opacity: 0.8;
    transition: .3s;
}

.link-swap{
    color: #A84ED1;
    text-decoration: underline;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-left: 18px;
}

.link-swap:hover{
    transition: .3s;
    text-decoration: none;
}

.extra-value{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 18px;
}

.extra-header{
    flex-direction: column;
    align-items: flex-start;
}

.extra-bottom{
    margin-top: 30px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-current p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    max-width: 174px;
    line-height: normal;
}

.block-current{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.container-tab-info{
    display: flex;
    width: 100%;
}

.right-tokens-block .tokens-block{
    margin-left: 30px;
}

.right-tokens-block{
    max-width: 380px;
    width: 100%;
}

.right-tokens-block .tokens-block:not(:last-child){
    margin-bottom: 30px;
}

.container-fit-token{
    max-width: 800px;
    width: 100%;
}

.right-token{
    padding: 0 0  18px;
}

.right-token .extra-header{
    margin-bottom: 0;
    padding: 24px 29px 18px;
    border-bottom: 1px solid #2A2B4B;
}


.main-right-block{
    display: flex;
    flex-direction: column;
}

.footer-right-token .list-result{
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
.footer-right-token .list-result .item-result{
    justify-content: space-between;
    max-width: 100%;
}

.footer-right-token .list-result .item-result:not(:first-child) {
    padding-left: 0;
}

.footer-right-token .list-result  .item-result:not(:last-child) {
    border-right: none;
    margin-bottom: 20px;
}

.footer-right-token{
    padding: 24px 29px 0;
}

.pink-small-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    width: 156px;
    height: 36px;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
    -moz-box-shadow: 0px 0px 15px 3px rgba(140,64,208,0.32);
}

.pink-small-btn:hover{
    transition: .3s;
    opacity: 0.8;
}

.container-header-info-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
}

.container-header-info-bottom .extra-value{
    margin-top: 0;
}

.footer-right-text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 182%;
}

.chart-container{
    background: #3F405D;
    border-radius: 5px;
    padding: 30px;
}

.chart{
    height: 292px;
    max-width: 1127px;
    width: 100%;
    overflow-x: auto;
}

.chart img,
.chart canvas{
    width: 100%;
}

.chart-container .title-tabs-block{
    margin-bottom: 22px;
}

.tab-footer{
    margin-top: 30px;
    margin-bottom: 50px;
}

/*------------switch----------*/

.switch-btn {
    background: #F1F4FF;
    border-radius: 30px;
    width: 268px;
    height: 45px;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}
.switch-btn::after {
    content: "Remove";
    top: 0;
    left: 0;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    width: 158px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.stake-control .switch-btn::after {
    content: "Unstake";
}

.switch-btn::before{
    content: 'Add';
    color: #5E2CED;
    font-weight: 500;
    font-size: 16px;
}

.stake-control .switch-btn::before{
    content: 'Stake';
}

.switch-on {
    background: #F1F4FF;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 0;
}
.switch-on::after {
    left: 150px;
    content: 'Add';
}

.stake-control .switch-on::after{
    content: 'Stake';
}

.switch-on::before{
    content: 'Remove';
}

.stake-control .switch-on::before{
    content: 'Unstake';
}

.title-input{
    color: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.value-info{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

.header-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 5px;
}

.left-token-block{
    max-width: 307px;
    width: 100%;
    padding: 26px 21px;
    margin-right: 30px;
}

.token-input{
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.container-input-block{
    background: #3F405D;
    border: 1px solid #A84ED1;
    border-radius: 30px;
    height: 19px;
    padding: 12px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.before-input span{
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    padding-left: 30px;
}

.before-input span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 31px;
    background: url("../images/fit-pink.svg")no-repeat;
    background-size: contain;
}

.item-percent-list span{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

.item-percent-list{
    padding: 12px 16px;
    background: #2A2B4B;
    border-radius: 30px;
}

.remove-btn{
    width: 100%;
    margin-bottom: 13px;
    margin-top: 18px;
}

.remove-swap{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-top-block{
    background: #3F405D;
    border-radius: 5px;
    padding: 5px 10px 5px 16px;
    min-height: 40px;
}

.item-top-block:not(:last-child){
    margin-right: 30px;
}

.container-token{
    display: flex;
    align-items: flex-start;
    margin-bottom: 76px;
}

.token-top-block{
    margin-bottom: 30px;
}

.container-main-block{
    width: 100%;
}

.list-top-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-top-block .item-percent-list{
    width: fit-content;
}

.item-top-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-top-block:not(:nth-child(2)){
    max-width: 255px;
    width: 100%;
}

.item-top-block:nth-child(2){
    max-width: 160px;
    width: 100%;
}

.item-top-block .item-percent-list{
    margin-left: 5px;
}

.extra-span{
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

.extra-token{
    padding: 30px 0 23px;
}

.extra-token .header-block-tabs{
    border-bottom: 1px solid #2A2B4B;
    padding: 0 30px 18px;
}

.body-token .list-result{
    flex-direction: column;
    align-items: flex-start;
}

.body-token .list-result .item-result:not(:first-child) {
    padding-left: 0;
}

.body-token .list-result  .item-result:not(:last-child) {
    border-right: none;
    margin-bottom: 20px;
}

.body-token .list-result .item-result{
    max-width: 100%;
}

.body-token .list-result {
    margin: 0;
}

.body-token{
    padding: 0 30px 30px;
    border-bottom: 1px solid #2A2B4B;
}

.title-footer-token{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.copy-link{
    color: #A84ED1;
    font-weight: 300;
    font-size: 16px;
    margin-right: 6px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-copy{
    width: 16px;
    height: 16px;
    background: url("../images/copy.svg")no-repeat;
    background-size: contain;
    border: none;
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.container-link{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 21px;
    cursor: pointer;
    width: fit-content;
}

.container-link:hover .btn-copy{
    transition: .3s;
    display: block;
}

.list-footer-token{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-list-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 182%;
    color: #FFFFFF;
    max-width: 202px;
}

.footer-token{
    padding: 20px 30px 0;
}

.item-footer-token:not(:last-child){
    margin-right: 7px;
}

span.bnb-before:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../images/bnb.png") no-repeat;
    background-size: contain;
}

.input-title{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}

.input-info-container{
    margin-top: 20px;
}

.add-btn{
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    background: #2A2B4B;
    border-radius: 100%;
    border: none;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
.add-new-block{
    display: flex;
    justify-content: center;
    position: relative;
}

.add-btn::before,
.add-btn::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 41%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #2A2B4B;
    z-index: -1;
}

.add-btn::before{
    right: 60%;
}

.add-btn::after {
    left: 60%;
    right: inherit;
}

.container-content-change-add{
    display: none;
    transition: .3s;
}

.open-block .container-content-change{
    display: none;
    transition: .3s;
}

.open-block .container-content-change-add{
    display: block;
    transition: .3s;
}

.confirm-result{
    max-width: 100%;
}

.confirm-result:not(:last-child){
    border-right: none;
}

.confirm-result:not(:first-child) {
    padding-left: 0;
}

.title-header-tabs{
    font-weight: normal;
    font-size: 35px;
}

.header-tabs{
    margin-bottom: 30px;
}

.tabs-section{
    margin-top: 60px;
}

.stake .container-input-block{
    margin-bottom: 0;
}

.container-tokens-block{
    display: flex;
}

.container-tokens-block .tokens-block:first-child{
    margin-right: 30px;
}

.container-tokens-block .tokens-block{
    width: 50%;
}

.container-title-tokens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-title-tokens .title-tabs-block{
    margin-right: 28px;
}

.container-tokens-block .tokens-block{
    padding: 30px 0 30px;
}

.container-tokens-block .tokens-block .extra-header{
    padding: 30px 30px 23px;
    border-bottom: 1px solid #2A2B4B;
}

.container-tokens-block .body-token{
    border-bottom: none;
    padding-bottom: 0;
}

.uppercase-title{
    text-transform: uppercase;
    font-weight: normal;
}

.container-total-input{
    background: #2A2B4B;
    border-radius: 30px;
    max-width: 91%;
    width: 100%;
    padding: 12px 24px 12px 24px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stake-token{
    border-bottom: none;
    padding-bottom: 0;
}

.title-total{
    font-weight: 300;
    font-size: 22px;
    color: #FFFFFF;
}

.container-total-input .btn-copy{
    display: block;
    position: relative;
    top: 0;
    transform: none;
}

.container-tokens-block .tokens-block{
    padding-top: 0;
}

/*-------------popups-----------*/

.bg-windows{
    background: rgba(42, 43, 75, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.container-popup{
    background: #F1F4FF;
    padding: 28px 24px 24px;
    min-height: 100px;
    max-width: 350px;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
}

.title-popup{
    font-weight: normal;
    font-size: 35px;
    color: #2A2B4B;
    padding-top: 134px;
    text-align: center;
    max-width: 324px;
    line-height: inherit;
    margin: 0 auto;
    margin-bottom: 23px;
    position: relative;
}

.title-popup::after{
    content: '';
    position: absolute;
    width: 108px;
    height: 108px;
    background: url("../images/error-icon.svg")no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.text-popup{
    font-weight: 300;
    font-size: 16px;
    color: #2A2B4B;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 23px;
}

.btn-popup{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    width: 255px;
    height: 45px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn-popup:hover{
    transition: .3s;
    opacity: 0.8;
}

.close-btn{
    position: absolute;
    right: -20px;
    top: -20px;
    background: url("../images/close-x.svg")no-repeat;
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
    border: none;
}

.title-popup-connect{
    color: #2A2B4B;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.connect-text{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #5e2ced;
    padding: 10px 70px 10px 20px;
    background: #F1F4FF;
    border-radius: 50px;
    border: 1px solid #5E2CED;
    position: relative;
}

.connect-text:hover{
    transition: .3s;
    background: rgba(94, 44, 237, 0.1);
}

.connect-text::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 25px;
    background: url("../images/fox.svg")no-repeat;
    background-size: contain;
}

.connect-text.binance::after{
    width: 21px;
    height: 21px;
    background: url("../images/token-orange.svg")no-repeat;
    background-size: contain;
}

.item-connect{
    margin-bottom: 20px;
}

.link-connect{
    font-weight: 500;
    font-size: 16px;
    color: #5E2CED;
    text-decoration-line: underline;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.link-connect:hover{
    transition: .3s;
    text-decoration: none;
}

.connect-popup{
    padding-bottom: 44px;
}

.connect-info-container p{
    font-weight: normal;
    font-size: 16px;
    color: #7E7E89;
    margin-bottom: 20px;
    line-height: normal;
}

.connect-info-container{
    max-height: 335px;
    overflow-y: auto;
}

.mobile-burger{
    display: none;
}

.mobile-menu-wrapper{
    display: none;
}
