@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.eot');
    src: url('../fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.eot');
    src: url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.eot');
    src: url('../fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*,
body,
html{
    font-family: 'Poppins';
}

a{
    text-decoration: none;
}

a, h1, h2, h3, h4, h5, h6{
    color: #ffff;
    line-height: normal;
}

p{
    color: rgba(255, 255, 255, 0.5);
}

input, button{
    outline: none;
}

/*--------------wrapper styles---------*/

.body{
    background: url("../images/bg.jpg")no-repeat;
    background-size: cover;
    min-height: 100px;
}

/*--------------header styles---------*/

.container-content{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 14px;
}

.logo{
    max-width: 184px;
    width: 100%;
}

.logo img{
    width: 100%;
}

.menu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-menu{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 18px;
    font-weight: 300;
}

.item-menu{
    margin: 0 20px;
}

.link-menu:hover{
    opacity: 1;
    transition: .3s;
}

.chose-lg{
    padding: 11px 35px 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 18px;
}


.chose-lg:after{
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    background: url("../images/arrow.svg")no-repeat;
    width: 14px;
    height: 8px;
    background-size: cover;
    transition: .4s;
}

.chose-lg.turn-btn:after{
    top: 42%;
    transform: translateY(-50%);
    transition: .4s;
}

.languages-container{
    background: #3f405c;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    position: relative;
    margin-right: 20px;
}

.languages-list{
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding-top: 20px;
    background: #3f405c;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: none;
}

.item-language{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3f405c;
}

.item-language:last-child{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.item-language:hover,
.chose-lg:hover{
    background: #34354c;
    border-radius: 30px;
}

.item-language a{
    padding: 10px 13px;
    width: 44px;
    text-align: left;
    font-size: 18px;
}

.btn{
    width: 165px;
    color: #FFFFFF;
    border-radius: 30px;
    height: 45px;
    font-size: 18px;
}

.transparent-btn{
    background: transparent;
    border: 1px solid #5E2CED;
}
.transparent-btn:hover{
    background: rgba(94, 44, 237, 0.3);
    transition: .3s;
}

.header-btn-container{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu-container{
    width: 40%;
}

/*------------first screen-----------*/

.container-text-screen{
    max-width: 575px;
    width: 100%;
}

.main-title{
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 105%;
    margin-bottom: 27px;
}

.main-sub-text{
    line-height: normal;
    font-size: 16px;
    max-width: 457px;
    font-weight: 300;
    margin-bottom: 27px;
}

.tokens{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    -webkit-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    -moz-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    border: none;
    margin-right: 20px;
    animation: radial-pulse 1s infinite;
}

.contract{
    border: none;
    background: #F1F4FF;
    color: #5E2CED;
}

.tokens:hover,
.contract:hover,
.btn-statistic:hover{
    opacity: 0.8;
    transition: .3s;
}

.footer-text-screen{
    display: flex;
    align-items: baseline;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
}

.footer-text-screen p{
    margin-left: 5px;
}

.container-first-screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    min-height: 500px;
}

.first-screen{
    padding-bottom: 123px;
}

/*----------------blue section--------*/

.blue-section{
    background: #6A3CEF;
    min-height: 61px;
}

.item-statistic{
    padding: 36px 0 44px;
}

.list-statistic{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.value-statistic{
    position: relative;
    text-align: center;
    width: 100%;
}

.value-statistic:after{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 82px;
    height: 1px;
    background: #FFFFFF;
    left: 50%;
    transform: translateX(-50%);
}

.item-statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 379px;
}

.value-statistic h3{
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
}

.text-statistic{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
}

.center-column{
    background: #5E2CED;
}

/*---------------discussed------------*/

.discussed{
    padding: 100px 85px;
}

.title-header{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-bottom: 18px;
}

.list-discussed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-discussed{
    max-width: 233px;
}

.item-discussed a{
    display: block;
}

/*-------------investments-----------*/

.investments{
    padding-bottom: 100px;
}

.container-sub-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-title-header{
    margin-right: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.container-sub-title span{
    color: #5E2CED;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}

.container-img-item{
    margin-bottom: 15px;
}

.list-investments{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-list-investments{
    margin-top: 37px;
}

.text-investments{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}

.item-investments{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
    position: relative;
}

.item-investments:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 84px;
    height: 1px;
    background: #5E2CED;
}

.container-img-item{
    min-height: 81px;
}

.header-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 30px 28px;
}

.title-block{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    padding-bottom: 15px;
    margin-top: 15px;
}

.title-block:after{
    content: '';
    position: absolute;
    width: 84px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #C95ED1;
    height: 1px;
}

.container-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.container-info p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.container-info span{
    color: #A84ED1;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.block-investments{
    background: #3F405D;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    margin: 0 15px;
}

.container-blocks-investments{
    margin-top: 95px;
    display: flex;
}

.title-footer-block{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
}

.content-statistic{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-statistic{
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.value{
    color: #A84ED1;
    font-weight: 300;
    font-size: 16px;
}

.container-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3F405D;
    border: 1px solid #A84ED1;
    border-radius: 30px;
    padding: 10px;
}

.input-info{
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    max-width: 175px;
    width: 100%;
}

.btn-input{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    border: none;
}

.btn-input:hover{
    opacity: 0.8;
}

.container-input{
    margin-top: 25px;
}

.btn-statistic{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 30px;
    width: 100%;
    border: none;
    -webkit-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    -moz-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    margin-top: 25px;
    animation: radial-pulse 1s infinite;
}

.footer-block{
    background: rgba(7, 16, 59, 0.3);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 19px 28px 28px;
}


.content-statistic-withdraw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-statistic-withdraw .value{
    font-size: 20px;
}

.content-statistic-withdraw:first-child{
    margin-bottom: 20px;
}

.btn-transparent{
    width: 100%;
    background: transparent;
    border: 1px solid #a84ed1;
    color: #A84ED1;
    margin-top: 20px;
    height: 45px;
}

.btn-transparent:hover{
    background: rgba(168, 78, 209, 0.1);
    transition: .3s;
}

.body-block{
    padding: 0 28px 40px;
    position: relative;
    border-bottom: 4px solid #07103B4D;
}

.withdraw-header{
    margin-bottom: 0;
    padding-bottom: 35px;
}

.value.footer-value{
    font-size: 16px;
}

.footer-block-withdraw{
    padding: 24px 28px 40px;
}

/*------------------referral------------*/

.referral{
    padding: 95px 0 99px;
    background: #5E2CED;
}

.referral-header{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.referral-header:before,
.referral-header:after{
    content: '';
    position: absolute;
    height: 1px;
    display: inline-block;
    width: 50%;
    background-clip: content-box;
    background: rgba(255, 255, 255, 0.3);
    top: 25px;
}

.referral-header:before{
    left: 0;
    margin: 0 0 0 -19%;
}

.referral-header:after{
    right: 0;
    margin: 0 -19% 0 0;
    top: 25px;
}

.item-percent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-percent{
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    position: relative;
}

.title-percent:before{
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 50%;
    width: 84px;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.5);
}

.text-percent{
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

.left-block{
    width: 47%;
}

.list-percent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-percent{
    padding: 25px 17px;
    min-width: 150px;
}

.referral-block-header{
    display: flex;
    align-items: center;
}

.referral-title,
.referral-block-header span{
    margin-right: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.referral-block-header span{
    margin-right: 0;
    color: #FFFFFF;
}

.text-referral{
    font-weight: 300;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    line-height: normal;
    margin-top: 13px;
    max-width: 495px;
    width: 100%;
}

.container-info-referral{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-block{
    background: #6A3CEF;
    border-radius: 5px;
    padding: 34px 20px 25px 20px;
    max-width: 530px;
    width: 100%;
}

.title-referral-footer{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    font-size: 22px;
}

.title-referral-footer:after{
    content: '';
    position: absolute;
    height: 1px;
    display: inline-block;
    width: 52%;
    background-clip: content-box;
    background: rgba(255, 255, 255, 0.3);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: 0;
}

.referral-footer{
    margin: 30px 0 10px;
}

.referral-input{
    background: #5a36ce;
    border: 1px solid #5a36ce;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
    width: 95%;
    margin: 20px 0 30px;
}

.copy-btn{
    width: 290px;
    height: 45px;
    color: #5E2CED;
    font-weight: 500;
    font-size: 16px;
    background: #FFFFFF;
    border: none;
    border-radius: 50px;
}

.copy-btn:hover{
    opacity: 0.8;
    transition: .3s;
}

/*-------------road map------------*/

.road-map{
    padding: 94px 0 90px;
}

.number-block span{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #5E2CED;
}

.number-block{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-map-block{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 17px;
}

.text-map-block{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #7E7E89;
    max-width: 270px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.map-block{
    max-width: 394px;
    width: 100%;
    position: relative;
    padding-bottom: 55px;
    padding-left: 55px;
}

.map-block:hover{
    cursor: pointer;
}

.first-block,
.three-block,
.fifth-block{
    padding-top: 55px;
}

.first-block:after,
.three-block:after,
.fifth-block:after{
    content: '';
    position: absolute;
    left: 0;
    top: -34px;
    width: 14px;
    height: 100%;
    background: url("../images/point-line.svg")no-repeat;
    transform: rotate(180deg);
    z-index: -2;
    background-size: 100% 100%;
}

.second-block:after,
.fourth-block:after{
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 14px;
    height: 100%;
    background: url("../images/point-line.svg")no-repeat;
    z-index: -2;
    background-size: 100% 100%;
}

.first-block:hover .number-block,
.second-block:hover .number-block,
.three-block:hover .number-block,
.fourth-block:hover .number-block,
.fifth-block:hover .number-block{
    width: 85px;
    height: 85px;
    transition: .3s;
}

.first-block:hover .number-block,
.three-block:hover .number-block,
.fifth-block:hover .number-block{
    top: -56px;
    left: -34px;
}

.second-block:hover .number-block,
.fourth-block:hover .number-block{
    bottom: -53px;
    left: -35px;
}

.first-block .number-block,
.second-block .number-block,
.three-block .number-block,
.fourth-block .number-block,
.fifth-block .number-block{
    position: absolute;
}

.first-block:hover .number-block:before,
.second-block:hover .number-block:before,
.three-block:hover .number-block:before,
.fourth-block:hover .number-block:before,
.fifth-block:hover .number-block:before{
    content: '';
    position: absolute;
    left: -7px;
    right: -7px;
    bottom: -7px;
    top: -7px;
    border-radius: 100%;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    z-index: -1;
    transition: .3s;
}


.first-block:hover .number-block span,
.second-block:hover .number-block span,
.three-block:hover .number-block span,
.fourth-block:hover .number-block span,
.fifth-block:hover .number-block span{
    font-size: 35px;
    transition: .3s;
}
.first-block .number-block,
.three-block .number-block,
.fifth-block .number-block{
    top: -40px;
    left: -18px;
}

.second-block .number-block,
.fourth-block .number-block{
    bottom: -40px;
    left: -18px;
}

.second-block{
    left: 55px;
}

.fourth-block{
    right: 0;
}

.container-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list-map{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.list-map:first-child{
    justify-content: center;
}

.mobile-block{
    display: none;
}

.special-map-line{
    height: 10px;
    background: #3E3F5B;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    width: 100%;
    border: none;
    z-index: -3;
}

/*--------------faq----------------*/

.faq{
    padding-bottom: 20px;
}

.container-faq{
    margin-top: 45px;
}

.list-faq{
    max-height: 330px;
    overflow-y: auto;
    padding-right: 6px;
}

.header-item-faq{
    background: #3F405D;
    border-radius: 50px;
    padding: 24px 31px 24px 37px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.item-faq{
    margin-bottom: 26px;
}

.active-block .header-item-faq{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
}

.chevron-faq-item{
    width: 22px;
    height: 12px;
    background: url("../images/arrow-pink.svg") no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    right: 31px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.title-faq-item{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
}

.chevron-faq-item.active-btn-faq{
    background: url("../images/arrow.svg") no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
    transition: .3s;
}

.container-info-faq{
    background: #3F405D;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 62px 37px 25px;
    position: relative;
    top: -30px;
    display: none;
}

.container-info-faq p{
    color: #7E7E89;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

/*-------------scrollbar-----------*/

::-webkit-scrollbar-button {
    background-image: none;
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color: rgba(7, 16, 59, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    opacity: 0.5;
}

::-webkit-resizer{
    background-image: none;
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar{
    width: 4px;
    border-radius: 5px;
}

/*--------------footer-------------*/

.smart-contract{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 50px;
    border: none;
    -webkit-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    -moz-box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
    0% {
        box-shadow:  0 0 0 0px rgba(94, 44, 237, 0.5);
    }

    100% {
        box-shadow: 1px 9px 30px 0px rgba(94, 44, 237, 0.5);
    }
}

.smart-contract:hover{
    opacity: 0.8;
    transition: .3s;
}

.footer .logo{
    max-width: 184px;
    width: 100%;
    display: block;
}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info{
    color: rgba(126, 126, 137, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.footer{
    padding: 20px 0;
}

.btn-to-top{
    background: linear-gradient(315deg, #8C40D0 36.41%, #C95ED1 70.02%);
    border-radius: 50px;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 70px;
    border: none;
    right: 10%;
    box-shadow: 0px 0px 3px 7px rgba(94,44,237,0.3);
    -webkit-box-shadow: 0px 0px 3px 7px rgba(94,44,237,0.3);
    -moz-box-shadow: 0px 0px 3px 7px rgba(94,44,237,0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(94,44,237,0.3);
    }
    70% {
        -webkit-box-shadow: 0px 0px 3px 7px rgba(94,44,237, 0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(94,44,237, 0);
    }
}

.btn-to-top:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url("../images/arrow.svg") no-repeat;
    background-position: center;
}

.btn-to-top.show {
    opacity: 1;
    visibility: visible;
}